[Unit]
Description=OpenStack Fuge API Service
After=syslog.target network.target

[Service]
Type=simple
User=fuge
ExecStart=/usr/bin/fuge-api
PrivateTmp=true
NotifyAccess=all
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
