[Unit]
Description=Openstack Fuge Compute Service
After=syslog.target network.target qpidd.service mysqld.service tgtd.service

[Service]
Type=simple
User=fuge
ExecStart=/usr/bin/fuge-compute
PrivateTmp=true
NotifyAccess=all
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
